name: Test
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        erlang_version:
        - "24.3"
        - "25.1"
    steps:
    - name: CHECKOUT
      uses: actions/checkout@v2
    - name: CONFIGURE ERLANG
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.erlang_version }}
    - name: Deps
      run: make test-deps
    - name: Dialyze
      run: make dialyze
    - name: Build tests
      run: make test-build
    - name: EUnit
      run: make eunit
    - name: aten_SUITE
      run: make ct-aten